/* reset css */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  margin: 0;
  min-height: 100dvh;
}

h1,
h2,
h3 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

/* styles */
/* TODO: Cambiar la fuente

* {
  font-family: comic-sans;
} */

body {
  background-color: #fad7df;
}

main {
  display: flex;
  flex-direction: column;

  gap: 3rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-letter {
  position: relative;
}

.cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 100px solid #fe3334;
  border-bottom: 100px solid transparent;

  /*  */
  transition: transform .75s;
  transform-origin: top;
}

.paper {
  position: absolute;
  padding: 1.5rem;
  line-height: 2rem;
  right: 5px;
  /*  */
  z-index: -1;
  background: white;
  width: 390px;
  height: 180px;

  transition: all .75s;
}

.letter {
  border-left: 200px solid #ff989e;
  border-right: 200px solid #ff989e;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #ff858a;
}

.options {
  display: flex;
  gap: 5rem;

  & button {
    color: #ff3234;
    font-weight: 600;
    border-radius: 3px;
    background: #fad7df;
    padding: 0.5rem 1rem;
    border: 1px solid #fe3334;
    cursor: pointer;
  }

  & button:hover {
    background: #ff989e;
    color: white;
  }
}

.open-cover {
  transform: rotatex(180deg);
}

.open-paper {
  animation: openPaper .5s forwards;
}

@keyframes openPaper {
  0% {
    top: 0;
  }
  100% {
    top: -120px;
  }
}

.close-paper {
  animation: closePaper .5s forwards;
}

@keyframes closePaper {
  0% {
    top: -120px;
  }
  100% {
    top: 0;
  }
}


/* Contenedor de los botones de corazones */
.heart-buttons {
  position: fixed; /* Fijo en la ventana */
  top: 20px; /* Margen superior */
  right: 20px; /* Margen derecho */
  display: flex; /* Alinear botones horizontalmente */
  flex-direction: column; /* Colocarlos en columna */
  gap: 10px; /* Espaciado entre los botones */
  z-index: 100; /* Encima de todo */
}

/* Estilo de los botones */
.heart {
  background: none; /* Sin fondo */
  border: none; /* Sin borde */
  font-size: 40px; /* Tamaño más grande */
  color: red; /* Color del corazón */
  cursor: pointer; /* Cambia el cursor al pasar el mouse */
  outline: none; /* Sin borde al hacer clic */
  transition: transform 0.2s ease, color 0.2s ease; /* Animación suave */
}

.heart:hover {
  transform: scale(1.5); /* Aumenta el tamaño al pasar el mouse */
  color: darkred; /* Cambia a un rojo más oscuro */
}


@keyframes crecer {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 3;
    opacity: 0;

  }
}
